#name {
    color: #141270f5;
}

.windowKey {
    align-items: center;
    text-align: center!important;
}

#copyK-btn {
    margin-left: 1.5%;
}

#btnOk {
    background: #1D2B46;
    color: white;
    margin-left: 38%;
}