<div class="image_background">
    <app-header></app-header>

    <br><br>
    <h2 class="title">USUARIOS:</h2>
    <!--para filtrar usuarios-->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingresa el usuario a buscar">
    </mat-form-field>
    <!--tabla para listar y gestionar usuarios registrados en el sistema-->
    <div class="example-container" id="tableUsers">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="activated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activado </th>
                <td mat-cell *matCellDef="let row">
                    <p *ngIf="row.activated=='0'"><button mat-flat-button style="background-color: 
                        #4CAF50; color: white; " (click)="changeActivated(true,row)">Activar</button></p>
                    <p *ngIf="row.activated=='1'"><button mat-flat-button color="warn" (click)="changeActivated(false,row)">Desactivar</button></p>
                </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de usuario </th>
                <td mat-cell *matCellDef="let row">
                    <p *ngIf="row.type=='-'">No asignado</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                        {{row.type}}
                        </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="changeType('Profesor',row)" mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Profesor</span>
                        </button>
                        <button mat-menu-item (click)="changeType('Alumno',row)">
                            <mat-icon>voicemail</mat-icon>
                            <span>Alumno</span>
                         </button>
                        <button mat-menu-item (click)="changeType('Administrador',row)">
                            <mat-icon>notifications_off</mat-icon>
                            <span>Administrador</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!--para regresar al menu principal-->
    <div id="boxR">
        <button class="btn-return" (click)="menuP()">
        <i class="material-icons">
            navigate_before
        </i>       
    </button>
    </div>

</div>