<div class="image_background">

    <app-header></app-header>

    <br><br>

    <p class="title">Control de Archivos</p>

    <div class="centrado2">
        <!--formulario para enviar nuevos archivos-->
        <form [formGroup]="formFile" autocomplete="off" (ngSubmit)="subirArchivo()" class="md-form">

            <label class="labelEti">Correo de Destino:</label>
            <input type="email" class="form-control" id="correoDestinity" formControlName="correoDestinity" placeholder="Ingresa el correo al que quieres enviar el archivo (La direccion debe ser la misma a la que se escribió cuando se creó la cuenta)" required />
            <p></p>
            <label class="labelEti">Descripción del Archivo a Enviar:</label>
            <textarea type="form-control" class="md-textarea form-control" mdbInput id="description" formControlName="description" placeholder="Ingresa opcionalmente una descripción del archivo a enviar"></textarea>
            <p></p>
            <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
            <p></p>
            <button [disabled]="!formFile.valid" class="btn btn-info">Subir archivo</button>
        </form>

        <button (click)="listar2()" class="btn btn-success" id="btn-refresh">
            <i class="material-icons" id="iconoR">refresh</i>
        </button>

    </div>

    <br>
    <!--tabla para mostrar los mensajes y archivos que han sido recibidor-->
    <div class="example-container centrado">
        <mat-table mat-table [dataSource]="dataSource" matSort style="max-height: 300px;">
            <!-- ID LINK -->
            <ng-container matColumnDef="link">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
                <mat-cell *matCellDef="let row"> <a href="{{row.url}}">IR</a> </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- Name NOMBRE -->
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"> {{row.nameFile}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- Grade REMITENTE -->
            <ng-container matColumnDef="origen">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Remitente </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.remitente}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- Group FECHA-HORA -->
            <ng-container matColumnDef="fecha">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Fecha-Hora </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.timeSend}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>


            <!-- Set Score DESCRIPCION -->
            <ng-container matColumnDef="info">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

            <mat-footer-row mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="example-first-footer-row"></mat-footer-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]"></mat-paginator>
    </div>
    <!--Para retornar-->
    <div id="boxR">
        <button class="btn-return" (click)="menuP()">
        <i class="material-icons">
            navigate_before
        </i>       
    </button>
    </div>

</div>